.open-nav{
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.carousel-caption{
    text-align: left;
    top: 50%;
}

h1{
    margin-bottom: 50px;
}

.watch-button{
    background-color: #950101;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 40px;
    font-weight: 600;
    font-size: 18px;
    margin-right: 15px;
}

.info-button{
    background-color: #444444;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 40px;
    font-weight: 600;
    font-size: 18px;
}
.geral{
    background-color: black;
}