.footer{
    background-color: #444444;
    color: white;
    text-align: center;
    border-top: 3px solid #950101;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
}

h3{
    padding-top: 10px;
    margin-bottom: 20px;
}

.footer-links{
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

a{
    font-weight: 600;
    margin: 0 15px;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

p{
    margin-bottom: 0;
}