<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <h2>Watchflix</h2>
    <a href="#" class="nav-list">Início</a>
    <a href="#" class="nav-list">Filmes</a>
    <a href="#" class="nav-list">Séries</a>
    <a href="#" class="nav-list">Desenhos</a>

    <a><button class="add-title">Adicionar título</button></a>

    <hr style="height:2px;border-width:0;color:white;background-color:white">

    <a class="nav-list">Conta</a>
    <a class="nav-list">Português</a>

    <hr style="height:2px; border-width:0; color:white; background-color:white">
    
    <div class="nav-end">
        <p>Nome do usuário</p>

    </div>
</div>


