<div class="col-12 mt-3">
    <h2 class="rowHeader css-0 m-2">Em alta</h2>

    <owl-carousel-o [options]="customOptions"  class="owl-theme">
        <ng-container *ngFor="let item of catalogo1">
        <ng-template carouselSlide [Id]="item.id">
            <img [src]="item.capa" [alt]="item.alt" [title]="item.title">
        </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<div class="col-12 mt-3">
    <h2 class="rowHeader css-0 m-2">Lançamentos</h2>
    <owl-carousel-o [options]="customOptions" class="owl-theme">
        <ng-container *ngFor="let item of catalogo2">
        <ng-template carouselSlide [Id]="item.id">
            <img [src]="item.capa" [alt]="item.alt" [title]="item.title">
        </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>