<div id="signup">
    <div class="row">
        <div class="col-lg-6 img-side">
            <div style="overflow: hidden">
                <img src="./../../assets/images/popcorn2.jpg" class="signup-img">
            </div>
        </div>
        <div class="col-lg-6 card-side">
            <div class="card mx-auto">
                <div class="card-body">
                    <h2>Cadastro</h2>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="nome"
                                placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="sobrenome"
                                placeholder="Sobrenome">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="dataNascimento"
                                placeholder="Data de nascimento">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="E-mail"
                                placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="Confirmar e-mail" placeholder="Confirmar e-mail">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Confirmar senha">
                        </div>
                        <a routerLink="/login"><button type="submit" class="btn btn-primary signup-button">Finalizar cadastro</button></a>
                        
                        <hr style="height:2px;border-width:0;color:gray;background-color:gray">

                        <div><button type="button" class="btn btn-primary facebook-button"><i class="social-icon" ></i> Continuar com o Facebook</button></div>
                        <div><button type="button" class="btn btn-primary google-button"><i class="social-icon" ></i> Continuar com o Google</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>