<app-navbar></app-navbar>

<div class="row add-page">
    <span style="font-size:30px;cursor:pointer" (click)="openNav()" class="open-nav">&#9776;</span>
    <div class="col-12 card-container">

        <div class="card">
            <div class="card-body">
                <div class="titulo">
                    <h2>Adicionar título</h2>
                </div> 

                <form class="form-body">
        
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="title.title">
                    </div>

                    <div class="row mb-3">
                        <div class="form-group col-6">
                            <label for="selectGenero">Gênero</label>
                            <select class="form-control" id="selectGenero" [selectedIndex]="0" [(ngModel)]="title.genero">
                                <option disabled>Selecione</option>
                                <option value="Acao">Ação</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Romance">Romance</option>
                                <option value="Terror">Terror</option>
                                <option value="Suspende">Suspense</option>
                            </select>
                        </div>
    
                        <div class="form-group col-6">
                            <label for="selectTipo">Tipo</label>
                           <!-- <select  class="form-control" id="selectTipo" [selectedIndex]="0" [(ngModel)]="title.tipo">
                                <option disabled>Selecione</option>
                                <option ngValue="Filme">Filme</option>
                                <option ngValue="Serie">Série</option>
                                <option ngValue="Desenho">Desenho</option>
                            </select>-->
                            <select type="number" [(ngModel)]="title.tipo">
                                <option *ngFor="let tipo of tipos" [ngValue]="tipo.tipo">{{tipo.tipo}}</option>
                              </select>
                           
                        </div>
    
                    </div>


                    <div class="form-group mb-3">
                            <label for="exampleFormControlTextarea1">Sinopse</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="sinopse" #sinopse="ngModel" rows="3" [(ngModel)]="title.sinopse"></textarea>
                    </div>
                    

                    <div class="mb-3">
                        <label for="foto" class="form-label">Foto</label>
                        <input type="text" class="form-control" id="foto" 
                        name="foto" [(ngModel)]="title.capa">
                      </div>

                    <div class="text-center mb-4">
                        <img [src]="title.capa" width="150px" class="title-img">
                    </div>

                    <div class="d-flex button-container">
                        <div>
                            <button routerLink="/mainpage" class="btn" id="btn-cancel" type="button">
                                Cancelar
                            </button>
                        </div>

                        <div>
                            <button (click)="cadastrar()" class="btn" id="btn-salvar" type="button">
                                Salvar
                            </button>
                        </div>                        
                    </div>
                </form>        
            </div>
          </div>

    </div>
    
</div>
<app-footer></app-footer>

